.filter-co-div {
    width: 100%;
}

.filter-co-div form {
    margin: 10px;
    width: 100%;
    justify-content: center;
}
.filter-co-div label {
    font-size: 1em;
    font-weight: bold;
}
.filter-co-div input{
    border-radius: 5px;
    border-color: #e5e5e5;
    height: 20px;
    text-align: center;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 5px;
    display: block;
}
.filter-co-div button {
    border-radius: 5px;
    border-color: #e5e5e5;
    height: 30px;
    background-color: #fca311;
    font-weight: bold;
    width: 25%;
}

.filter-co-div button:hover{
    background-color: #e5e5e5;
}